// Заголовки, общие БЄМ блоки и прочее...

.common-title {
  color: $headerColor;
  font-size: 35px;
  font-weight: 500;
  line-height: 143%;
  text-align: center;
}

.common-text {
  line-height: 188%;
  text-align: center;
}

.common-button {
  background-color: $redColor;

  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 156%;
  text-transform: capitalize;

  border-radius: 10px;

  box-shadow: $ButtonShadow;

  &:hover {
    background-color: rgba($redColor, 0.75);
    transition: background-color $HoverTransition;
  }
}

// Logo

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  &__img {
    width: auto;
    height: 35px;
  }

  &__title {
    display: flex;
    flex-direction: row;

    color: $headerColor;
    font-size: 20px;
    line-height: calc(24 / 20 * 100%);
  }

  &__title-text--1 {
    font-weight: 500;
  }

  &__title-text--2 {
    font-weight: 700;
    text-transform: uppercase;
  }
}

// Sign in and Sign up buttons

.sign-in-btn {
  color: $headerColor;
  font-size: 16px;
  font-weight: 500;
  line-height: calc(19 / 16 * 100%);

  &:hover {
    color: $redColor;
    transition: color $HoverTransition;
  }
}

.sign-up-btn {
  color: $redColor;
  font-size: 16px;
  font-weight: 500;
  line-height: calc(19 / 16 * 100%);

  border: 1px solid $redColor;
  border-radius: 50px;

  padding: 13px 45px;

  &:hover {
    box-shadow: 0px 5px 10px 0 rgba($redColor, 0.25);
    transition: box-shadow $HoverTransition;
  }
}

// Stat Item

.stat {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 36px;

  &__icon {
    background: $LightPinkColor;

    width: 55px;
    height: 55px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 24px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__count {
    color: $headerColor;
    font-size: 25px;
    font-weight: 700;
    line-height: 120%;
  }

  &__description {
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
  }
}

// Plan Card

.plan-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 2px solid $lightGreyColor;
  border-radius: 10px;

  overflow: hidden;

  padding: 80px 10px 50px 10px;

  @include maxMobileSmall {
    padding: 40px 10px;
  }

  &.plan-card--active {
    border: 2px solid $redColor;

    .plan-card__btn {
      color: white;
      background-color: $redColor;
      box-shadow: $ButtonShadow;
      &:hover {
        background-color: rgba($redColor, 0.75);
        transition: background-color $HoverTransition;
      }
    }
  }

  &:hover {
    border: 2px solid rgba($redColor, 0.5);
  }

  &__img {
    max-width: 145px;
    margin: 0 0 30px 0;
  }

  &__title {
    color: $headerColor;
    font-size: 18px;
    font-weight: 500;
    line-height: 167%;
    text-align: center;

    margin: 0 0 30px 0;
  }

  &__list {
    flex: 1 1 auto;

    width: 70%;

    display: flex;
    flex-direction: column;
    gap: 10px;

    margin: 0 0 130px 0;

    @include maxMobileSmall {
      margin: 0 0 60px 0;
    }
  }

  &__list-item {
    display: flex;
    flex-direction: row;
    gap: 20px;

    font-size: 14px;
    font-weight: 400;
    line-height: 214%;

    &:before {
      content: $TickIcon;
      width: auto;
      height: 24px;

      padding: 2px 0 0 0;
    }
  }

  &__price {
    display: flex;
    flex-direction: row;

    font-size: 25px;
    text-align: center;
    margin: 0 0 20px 0;
  }

  &__price-highlight {
    color: $headerColor;
    font-weight: 500;
    line-height: 120%;
  }

  &__price-text {
    font-weight: 400;
  }

  &__btn {
    border: 2px solid $redColor;
    border-radius: 50px;

    color: $redColor;
    font-size: 16px;
    font-weight: 700;
    line-height: calc(19 / 16 * 100%);

    padding: 13px 62px;

    &:hover {
      background-color: rgba($redColor, 0.75);

      color: white;

      transition: all $HoverTransition;
    }
  }
}

// Review Card

.review {
  @extend %noselect;

  display: flex;
  flex-direction: column;
  gap: 20px;

  border: 2px solid $lightGreyColor;
  border-radius: 10px;

  padding: 30px;

  &.review--active {
    border: 2px solid $redColor;
  }

  &:hover {
    border: 2px solid $redColor;
  }

  &__user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;

    @include maxMobileSmall {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
  }

  &__user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    @include maxMobileSmall {
      flex-direction: column;
      gap: 10px;
    }
  }

  &__user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  &__user-description {
    display: flex;
    flex-direction: column;
    gap: 5px;

    @include maxMobileSmall {
      align-items: center;
      text-align: center;
    }
  }

  &__user-name {
    color: $headerColor;
    font-size: 18px;
    font-weight: 500;
    line-height: 167%;
  }

  &__user-location {
    color: $darkGreyColor;
    font-size: 14px;
  }

  &__rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  &__rating-number {
    color: $headerColor;
    font-weight: 500;
  }

  &__rating-img {
    width: 16px;
    height: 16px;
    margin: -3px 0 0 0;
  }

  &__user-quote {
    color: $headerColor;
    font-weight: 400;
    line-height: 188%;
  }
}
