.footer {
  background: rgba(248, 248, 248, 1);

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0 15px 100px 15px;

    @include maxTablet {
      flex-direction: column;
      align-items: center;
    }

    @include maxMobileSmall {
      padding: 0 15px 50px 0;
    }
  }

  &__content {
    @include noMarginBottom;
    flex: 0 1 340px;

    @include maxTablet {
      flex: 1 1 auto;

      display: flex;
      flex-direction: column;
      align-items: center;

      margin: 0 0 50px 0;
    }

    @include maxMobileSmall {
      margin: 0;
    }
  }

  &__logo {
    margin: 0 0 20px 0;
  }

  &__content-text {
    text-align: left;
    margin: 0 0 30px 0;

    @include maxTablet {
      width: 75%;
      text-align: center;
    }
  }

  &__content-text-highlight {
    font-weight: 500;
  }

  &__content-social {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    margin: 0 0 30px 0;
  }

  &__content-social-icon {
    background-color: white;

    width: 34px;
    height: 34px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: $redColor;
    font-size: 14px;
    line-height: 140%;

    border-radius: 50%;

    box-shadow: 0 10px 10px rgba(13, 16, 37, 0.06);

    &:hover {
      background-color: $redColor;
      color: white;
      transition: all $HoverTransition;
    }
  }

  &__content-copyright {
    color: $medGreyColor;
    line-height: 188%;
  }

  &__nav-menus {
    display: flex;
    flex-direction: row;
    gap: 125px;

    @include maxTablet {
      justify-content: space-between;
      gap: 60px;
    }

    @include maxMobileSmall {
      display: none;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__nav-title {
    color: $headerColor;
    font-size: 18px;
    font-weight: 500;
    line-height: 167%;
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__nav-list-item {
    @extend %noselect;
    cursor: pointer;
    line-height: 188%;

    &:hover {
      color: $redColor;
      transition: color $HoverTransition;
    }
  }
}
